*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: auto;
    height: auto;
    background: #000000;
    color: #e6e0e0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS';
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    scroll-behavior: smooth;
}

.navbar{
    position: fixed;
    display: flex;
    margin: 0px;
    padding: 15px;
    width: 100%;
    height: 4rem;
    top: 0;
    background-color: #e6e0e0;
    z-index: 10;

    box-shadow: 4px 12px 10px -7px #161111;
}

.navbar h1{
    font-family: 'Trebuchet MS';
    color: #252525;
    background: linear-gradient(to right, rgb(156, 158, 161), rgb(0, 0, 0));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar ul {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navbar a{
    text-decoration: none;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0f0f0f;
    border-radius: 50%;
   /* background-color: #252525;*/

   border-bottom: 1px solid transparent;
   border-bottom-right-radius: 0%;
   border-bottom-left-radius: 0%;
   border-top: 1px solid;
   transition: border-bottom 2s;
   transition: all .3s;
}

.navbar a:hover{
    border-bottom: 2px solid #000;
    border-top: none;

    background: linear-gradient(to left, rgb(156, 158, 161), rgb(0, 0, 0));
    background-clip: text;
    -webkit-text-fill-color: transparent;

    transform: translateY(-50px 0px);
}

.navbar a::after{
    content: attr(tittle);
    position: absolute;
    background-color: #252525;
    padding: 3px;
    bottom: -0.5rem;
    border-radius: 50%;
    transform: translateX(-50);
    opacity: 0;
    transition: opacity 0.6s, transform 0.8s, bottom 1s;
}

.navbar a:hover::after{
    opacity: 1;
    bottom: 6px;
}

#navbar-search-btn{
    border: none;
    height: 25px;
    padding: 0px 0px 0px 10px;
    background: #e6e0e0;
    border-bottom: 1.5px solid #000;
}

/*hero slider*/

.container{
    display: flex;
    padding: 5rem;
    height: 75vh;
    margin: 2rem 0px 0rem 0px;
}

.heroheader{
    position: relative;
    display: flex;
    writing-mode: vertical-lr;
    top: -22rem;
    transform: translateX(-8rem) rotate(-18deg);
    margin: 0rem;
    display: none;
}

.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 13 / 7;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0.2rem 0rem .2rem .1rem hsla(0, 1%, 50%, 1);
    border-radius: 2rem;
    transition: all ease 5s;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav{
    display: flex;
    column-gap: 1.7rem;
     position: absolute;
     bottom: -4.45rem;
     left: 50%;
     transform: translateX(-50%);
     z-index: 1;
}

.slider-nav a{
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: all ease 0.5s;
}

.slider-nav a:hover{
    opacity: 2;
    background-color: #fff;
}

/* about */

.about{
    position: relative;
    margin: 2px;
    margin-top: 6rem;
    margin-bottom: -1rem;
    overflow-y: hidden;
}

.box{
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-content: flex-start;

    gap: 1rem;

    animation: slideinleft 3s ease-in-out;
}

.box-1{
    flex-grow: ;
    justify-content: center;
}

.box-1  h3{
    margin: 1rem 0px 3px 0px;
    font-weight: bold;
}

.box-1 p{
    font-size: 12px;
    margin: 0px 0px;
}

.box-2{
    width: 35%;
}

.box-2 p{
    margin: 3rem;
    margin-top: 1rem;
    font-size: 12px;
}

.box-2 p i{
    font-weight: bold;
    font-size: 13px;
}

/* about learn*/

.learnmore{
    width: auto;
    height: auto;
    margin: 1rem 0px;
    /*overflow-x: auto;
    overflow-y: auto;*/
}

.learncontainer{
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
}

.learnbtn{
    width: 20%;
    margin: 4px;;
}

.learnbtn p{
    margin: 1rem;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .5px;
}

.learnbtn h5{
    margin: 1rem;
    font-weight: bold;
    font-size: 12px;
}

.learnbtn button{
    position: relative;
    margin: 4rem 3rem;
    padding: 6px;
    height: 40px;
    top: 10rem;
    background-color: #e6e0e0;
    border-radius: 5px;


    z-index: 1;
}

.learnbtn button a{
    text-decoration: none;
    color: #0f0f0f;


    z-index: -1;
}

.learnslide-container{
    width: 500px;
    margin: 0px;
}

.learnslidebox{
    display: flex;
    justify-content: ;
    aspect-ratio: 11 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.learnslidebox img{
    position: relative;
    flex: 1 0 0;
    width: 600px;
    height: 50vh;
    margin: 0px 0px;
    object-fit: contain;
    gap: 0;
    animation: slde-show 2s infinite alternate;
    animation-play-state: running;
}

/* Project*/

.project{
    width: auto;
    height: auto;
    margin: 1rem 0px;
    margin-top: 5rem;
}

.project-container{
    margin: 2rem 0px;
}

.projectheader{
    position: relative;
    margin: 2rem 50rem;
    width: 10rem;  
    height: 8rem;
    left: 0rem;
}

.projectheader h3{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 35px;
    margin: 0px 1.3rem;
    top: 10px;
}

.projectheader p{
    writing-mode: vertical-lr;
    position: absolute;
    display: flex;
    font-size: 12px;
    top: -20px;
}

.projectbtn{
    display: flex;
    justify-content: center;
    margin: 5rem 0px 0px;
}

.projectbtn button{
    padding: .5rem;
    background-color: #e6e0e0;
}

.projectbtn a{
    text-decoration: none;
    font-weight: bold;
    color: #0f0f0f;
}

/*.project-img{
    margin-bottom: 0px;
    height: 500px;
}

#p1 {
    width: 700px;
    margin: 0px;
}
#p2{
    width: 500px;
    height: 100%;
}
#p3{
    width: 700px;
}
#p4{
    width: 700px;
}*/

.project-img img{
    height: 60vh;
    object-fit: contain;
    gap: 0;
}

/* contact*/

.contact{
    padding: 4px;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.contact-container{
    position: relative;
}

.contact-container h1 {
    position: relative;
    width: 15rem;
    margin: 1rem;
    font-size: 2rem;
    letter-spacing: 2px;
    transform: translateX(20rem);
}

.contact-content{
    display: flex;
    justify-content: center;
    margin: 3rem 1rem;
    gap: 3rem;
}

.mail h4 b,
.location h4 b{
    font-size: 14px;
}

.mail p,
.location p{
    font-size: 11px;
    margin: 2rem 0px;
}

.contactbtn{
    display: flex;
    justify-content: center;
    margin: 5rem 0px 0px;
}

.contactbtn button {
    padding: .5rem 1.5rem;
    background-color: #e6e0e0;
}

.contactbtn a{
    text-decoration: none;
    font-weight: bold;
    color: #0f0f0f;
}

/*footer*/

footer{
    border: 1px solid;
    margin-top: 5rem;
    width: auto;
    height: auto;
    background-color: #e6e0e0;
    color: #252525;
}

.footer-container{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
}

.footer-container h1{
    font-family: 'Trebuchet MS';
    color: #252525;
    background: linear-gradient(to right, rgb(119, 153, 204), rgb(49, 47, 47));
    background-clip: text;
    -webkit-text-fill-color: transparent;

    display: flex;
    position: relative;
    right: 5rem;
}

.fnav,
.follow{
    display: flex;
    flex-direction: column;
}

.fnav a{
    text-decoration: none;
    margin: 0.3rem 0px;
    color: #252525;
    font-size: 13px;
}

.fnav h6,
.signup h6{
    position: relative;
    font-size: 9px;
    top: 1.5rem;
}

.follow a{
    text-decoration: none;
    margin: 0.3rem 0px;
    color: #252525;
    font-size: 13px;
}

.signup h5,
.signup p{
    margin: 0.5rem 0px;
}

.signup p{
    font-size: 10px;
}

.signup input{
    padding: 3px 5px;
    font-size: 12px;
    border: none;
    border-bottom: 1.4px solid;
    
    background-color: #e6e0e0;
}

.signup input::placeholder{
    font-size: 10px;
}

.signup button{
    border: none;
    background-color: #252525;
    padding: 3px;
}

.signup button a{
    text-decoration: none;
    color: #e6e0e0;
    font-size: 12px;
    font-weight: bold;
}




/*animations*/

@keyframes slideinleft{
    from{
        opacity: 0;
        scale: 0;
    }

    to{ 
        opacity: 1;       
    }
}



@keyframes slide-show{
    0%,
    10%{
        left: 0px;
    }

    20%,
    30%{
        left: 600px;
    }

    40%,
    50%{
        left: 1200px;
    }

    60%,
    70%{
        left: 600px;
    }

    80%,
    90%,
    100%{
        left: 0px;
    }
}